package main

import (
	"strconv"

	"{{ .VCS }}/{{ .User }}/{{ .Project }}/db"
	"{{ .VCS }}/{{ .User }}/{{ .Project }}/server"
	"{{ .VCS }}/{{ .User }}/{{ .Project }}/utils"
	_ "{{ .VCS }}/{{ .User }}/{{ .Project }}/docs"
)

// @title Restful API
// @version 1.0
// @description Restful API using Swagger spec
// @basepath {{ .Namespace }}
func main() {
    var config utils.Config
    config.Init()

	database := db.Connect(&config)
	s := server.Setup(database, &config)
	port := "8080"

	if p := config.GetServerPort(); p != "" {
		if _, err := strconv.Atoi(p); err == nil {
			port = p
		}
	}

	s.Run(":" + port)
}
