package server

import (
    "time"
	"{{ .VCS }}/{{ .User }}/{{ .Project }}/middleware"
	"{{ .VCS }}/{{ .User }}/{{ .Project }}/router"
	"{{ .VCS }}/{{ .User }}/{{ .Project }}/utils"

	"github.com/gin-gonic/gin"
	"github.com/jinzhu/gorm"
	"github.com/gin-contrib/cors"
)

func Setup(db *gorm.DB, cfg *utils.Config) *gin.Engine {
	r := gin.Default()
	r.Use(middleware.SetDBtoContext(db))
    r.Use(cors.New(cors.Config{
        AllowOrigins:     cfg.GetCorsLists(),
        AllowMethods:     []string{"POST","GET","PUT","DELETE"},
        AllowHeaders:     []string{"Origin"},
        ExposeHeaders:    []string{"Content-Length"},
        AllowCredentials: true,
        MaxAge: 12 * time.Hour,
    }))
	router.Initialize(r)
	return r
}
